<footer>
    <section class="footer_content">
        <section class="content_wrap">
            <div class="socialicon_wrap">
                <a href="https://www.facebook.com/superheroesminecraftukraina/?epa=SEARCH_BOX" title="facebook profile"><img src="img/img-png/social-icon-01.svg" alt=""></a>
                <a href="https://www.instagram.com/superheroes_minecraft_ukraina/" title="instagram profile"><img src="img/img-png/social-icon-02.svg" alt=""></a>
                <a href="index.html"><img src="img/img-png/social-icon-03.svg" alt=""></a>
            </div>
            <div class="phone_wrap">
                <p>+38 097 676 38 63</p>
                <p>+38 050 595 58 08</p>
            </div>
        </section>
        <p class="footer_title">© 2020,"The universe of Superheroes and Minecraft".
            <a href="http://ekobilske.online/" style="color: yellow;" title="Розробник веб сайту">Design by Eugene Kobeliaksky</a>
        </p>
    </section>
</footer>