<header>
    <section class="header_content_wrap">
        <div class="logo_wrap">
            <a href="index.html">
                <img src="img/img-png/logo-2.png" alt="">
            </a>
        </div>
        <div class="arrow-wrap">
            <img src="img/icon/down-arrow.svg" alt="" class="arrow" id="btn-down">
        </div>
        <nav class="navigation_wrap" id="mobile-bar">
            <ul class="nav_list">
                <li class="nav_item">
                    <a href="index.html">Головна</a>
                </li>
                <li class="nav_item">
                    <a href="about.html">про нас</a>
                </li>
                <li class="nav_item">
                    <a href="price.html"> ціни</a>
                </li>
                <!-- <li class="nav_item">
                    <a href="discount.html">дисконти</a>
                </li> -->
                <li class="nav_item">
                    <a href="gallery.html">галерея</a>
                </li>
                <li class="nav_item">
                    <a href="contact.html">контакти</a>
                </li>
            </ul>
            <!-- <img src="img/icon/up-arrow.svg" alt=""  id="btn-up" class="arrow"> -->
        </nav>
    </section>
</header>