@font-face {
    font-family: 'RedDeadCyrillic2';
    src: url('/fonts/RedDead/RedDeadCyrillic2.eot');
    src: url('/fonts/RedDead/RedDeadCyrillic2.eot?#iefix') format('embedded-opentype'),
        url('/fonts/RedDead/RedDeadCyrillic2.woff2') format('woff2'),
        url('/fonts/RedDead/RedDeadCyrillic2.woff') format('woff'),
        url('/fonts/RedDead/RedDeadCyrillic2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dobrozrachniy';
    src: url('/fonts/dobro/Dobrozrachniy-Regular.eot');
    src: url('/fonts/dobro/Dobrozrachniy-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/dobro/Dobrozrachniy-Regular.woff2') format('woff2'),
        url('/fonts/dobro/Dobrozrachniy-Regular.woff') format('woff'),
        url('/fonts/dobro/Dobrozrachniy-Regular.ttf') format('truetype'),
        url('/fonts/dobro/Dobrozrachniy-Regular.svg#Dobrozrachniy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Facon';
    src: url('/fonts/facon/Facon.eot');
    src: url('/fonts/facon/Facon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/facon/Facon.woff2') format('woff2'),
        url('/fonts/facon/Facon.woff') format('woff'),
        url('/fonts/facon/Facon.ttf') format('truetype'),
        url('/fonts/facon/Facon.svg#Facon') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'bad_signal_400webfont';
    src: url('/fonts/bad/bad_signal_400webfont.eot');
    src: url('/fonts/bad/bad_signal_400webfont.eot') format('embedded-opentype'),
         url('/fonts/bad/bad_signal_400webfont.woff') format('woff'),
         url('/fonts/bad/bad_signal_400webfont.ttf') format('truetype'),
         url('/fonts/bad/bad_signal_400webfont.svg') format('svg');
         
}
@font-face {
    font-family: 'Intro';
    src: url('/fonts/intro/Intro.eot');
    src: url('/fonts/intro/Intro.eot?#iefix') format('embedded-opentype'),
        url('/fonts/intro/Intro.woff2') format('woff2'),
        url('/fonts/intro/Intro.woff') format('woff'),
        url('/fonts/intro/Intro.ttf') format('truetype'),
        url('/fonts/intro/Intro.svg#Intro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Blue Lagoon';
    src: url('/fonts/bluelagoon/BlueLagoon.eot');
    src: url('/fonts/bluelagoon/BlueLagoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/bluelagoon/BlueLagoon.woff2') format('woff2'),
        url('/fonts/bluelagoon/BlueLagoon.woff') format('woff'),
        url('/fonts/bluelagoon/BlueLagoon.ttf') format('truetype'),
        url('/fonts/bluelagoon/BlueLagoon.svg#BlueLagoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pribambas';
    src: url('/fonts/pribambas/Pribambas-Regular.eot');
    src: url('/fonts/pribambas/Pribambas-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/pribambas/Pribambas-Regular.woff2') format('woff2'),
        url('/fonts/pribambas/Pribambas-Regular.woff') format('woff'),
        url('/fonts/pribambas/Pribambas-Regular.ttf') format('truetype'),
        url('/fonts/pribambas/Pribambas-Regular.svg#Pribambas-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}








