@import "mixins.scss";
@import "variables.scss";
@import "fonts.scss";

*, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, h3, span {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   text-decoration: none;
   user-select: none;
}

audio,
canvas,
video {
   display: inline-block;
}

a{
   cursor: pointer;
}
///////////////////////////////////
//scroll style
::-webkit-scrollbar-button {
   background-image:url('');
   background-repeat:no-repeat;
   width:5px;
   height:0px
}
::-webkit-scrollbar-track {
   background-color:#ecedee;
}
::-webkit-scrollbar-thumb {
   -webkit-border-radius: 1px;
   border-radius: 1px;
   background-color:#d7190f;
   -moz-border-radius: 1px;
   -ms-border-radius: 1px;
   -o-border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover{
   background-color:#d7190f;
}
::-webkit-resizer{
   background-image:url('');
   background-repeat:no-repeat;
   width:4px;
   height:0px
}
::-webkit-scrollbar{
   width: 4px;
}
//
///////////////////////////////////


body{
   @import 'header.scss';
   .slider {
      position: relative;
      overflow: hidden;
      /* height: 100%; */
      height: 835px;
      width: 100%;
      margin: 0 auto;
    }

    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
      width: 100%;
      margin: 0 auto;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
      img{
         margin: 0 auto;
         width: 100%;
      }
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }
   @import 'price.scss';
   @import "contact.scss";
   @import "gallery.scss";
   .cover_wrap{
      width: 100%;
      height: 830px;
      background-image: url(../img/background/cover_bg.png);
      background-size: cover;
      background-position: center;
      display: none;
      .logo_wrap{
         margin: 10px;
         
         @include content-width;
         margin-top: 70px;
         .logo{
            width: 700px;
         }
      }
      .phone_wrap{
         margin-top: 100px;
         margin-bottom: 50px;

         display: flex;
         justify-content: space-between;
         @include content-width;
         .phone_text{
            text-shadow: 1px 1px 20px #ff026b;
            
            @include font-phone;

            font-size: 65px;
            color: #ffffff;

            margin: 5px 50px;
         }
      }
   }
   .announcement_wrap{
      width: 100%;
      height: auto;
      background-image: url(../img/background/anouncment_bg.png);
      background-size: cover;
      background-position: center;

      z-index: 2;

      box-shadow: 0 0 20px #000000;
      .content_wrap{
         margin: 0 auto;
         padding-top: 35px;
         padding-bottom: 35px;

         display: flex;
         justify-content: center;
         .image_wrap{
            position: relative;
            .img_lord{
               width: 420px;
               height: 360px;
               position: absolute;
               left: -375px;
               @include animation-settings;
            }
            .img_lord:hover{
               transform-origin: center center;
               transform: scale(1.1);
               left: -400px;
            }
            .img_spide{
               width: 384px;
               height: 304px;

               position: absolute;

               @include animation-settings;

               animation-name: spide-position;
            }
            .img_spide:hover{
               transform-origin: center center;
               transform: scale(1.1);
            }
         }
         .text-block-wrap{
            display: flex;
            justify-content: center;
            margin-left: 25px;
            margin-right: 25px;
            .elements-wrap{
               .items_elements{
                  position: relative;
                  z-index: 10;
                  .arrow_3{
                     position: absolute;

                     top: -30px;
                     left: -25px;

                     animation: arrow3 2s ease-in-out infinite ;
                     /* animation-delay: 1s; */
                  }
                  @keyframes arrow3 {
                     0%{
                        left: -30px;
                        top: -25px;
                     }
                     50% {
                        left: -40px;
                        top: -35px;
                     }
                     100% {
                        left: -30px;
                        top: -25px;
                     }
                  }

                  .arrow_2{
                     position: absolute;

                     top: 50px;
                     left: -35px;

                     animation: arrow2 3s ease-in-out infinite ;
                     /* animation-delay: 1s; */
                  }
                  @keyframes arrow2 {
                     0%{
                        top: 50px;
                        left: -35px;
                     }
                     50% {
                        top: 40px;
                        left: -55px;
                     }
                     100% {
                        top: 50px;
                        left: -35px;
                     }
                  }
                  .arrow_1{
                     position: absolute;

                     top: 200px;
                     left: -65px;

                     animation: arrow1 2.5s ease-in-out infinite ;
                     /* animation-delay: 1s; */
                  }
                  @keyframes arrow1 {
                     0%{
                        top: 200px;
                        left: -65px;
                     }
                     50% {
                        top: 180px;
                        left: -30px;
                     }
                     100% {
                        top: 200px;
                        left: -65px;
                     }
                  }
                  .arrow_4{
                     position: absolute;

                     top: 140px;
                     left: -5px;

                     animation: arrow4 2.5s ease-in-out infinite ;
                     /* animation-delay: 1s; */
                  }
                  @keyframes arrow4 {
                     0%{
                        top: 140px;
                        left: -5px;
                     }
                     50% {
                        top: 140px;
                        left: -30px;
                     }
                     100% {
                        top: 140px;
                        left: -5px;
                     }
                  }
                  .arrow_5{
                     position: absolute;

                     top: 210px;
                     left: -25px;

                     animation: arrow5 2.5s ease-in-out infinite ;
                     /* animation-delay: 1s; */
                  }
                  @keyframes arrow5 {
                     0%{
                        top: 210px;
                        left: -25px;
                     }
                     50% {
                        top: 230px;
                        left: 0;
                     }
                     100% {
                        top: 210px;
                        left: -25px;
                     }
                  }
                  .arrow_6{
                     position: absolute;

                     top: 230px;
                     left: -90px;

                     animation: arrow6 2.5s ease-in-out infinite ;
                     /* animation-delay: 1s; */
                  }
                  @keyframes arrow6 {
                     0%{
                        top: 230px;
                        left: -90px;
                     }
                     50% {
                        top: 200px;
                        left: -100;
                     }
                     100% {
                        top: 230px;
                        left: -90px;
                     }
                  }
               }
            }
            .text-block{
               width: 588px;
               height: 355px;
               background-image: url(../img/img-png/geometry-01.png);
               background-repeat: no-repeat;
               background-position: center;

               position: relative;
               .date{
                  @include font-date;
                  font-size: 48px;
                  color: #4C089A;
                  letter-spacing: 100;

                  position: absolute;

                  top: 30px;
                  left: 140px;

                  transform: rotate(-4deg);
               }
               .city{
                  @include font-city;
                  font-size: 87px;
                  font-style: italic;
                  letter-spacing: 3px;
                  text-transform: uppercase;
                  letter-spacing: 50;

                  position: absolute;

                  top: 85px;
                  left: 60px;

                  transform: rotate(-3deg);
                  a{
                     color: #fff;
                     @include animation-settings;
                  }
                  a:hover{
                     color: yellow;
                  }
               }
               .location{
                  @include font-location;
                  font-size: 63px;
                  font-style: italic;
                  letter-spacing: 50;

                  position: absolute;

                  top: 155px;
                  left: 90px;

                  transform: rotate(-3deg);
                  a{
                     color: #fff;
                     @include animation-settings;
                  }
                  a:hover{
                     color: yellow;
                  }
               }
               .logo-location{
                  width: 225px;

                  position: absolute;

                  top: 160px;
                  left: 160px;

                  transform: rotate(-3deg);
               }
               .time{
                  @include font-time;
                  font-size: 86px;
                  font-style: italic;
                  color: #F9FBFC;
                  letter-spacing: 50;

                  position: absolute;

                  position: absolute;

                  top: 245px;
                  left: 110px;

                  transform: rotate(-3deg);
                  sup{
                     font-size: 40px;
                     vertical-align: super;
                  }
               }
            }
            /* .text-block:hover{
               transform-origin: center center;
	            transform: scale(1.05);
            } */
         }
      }
   }
   .description_wrap{
      width: 100%;
      height: auto;
      background-image: url(../img/background/description_bg.png);
      background-size: cover;
      background-position: center;

      padding-top: 30px;
      padding-bottom: 150px;
      .content_wrap{
         @include content-width;
         display: flex;
         flex-direction: column;
         align-items: center;
         .logo_wrap{
            margin: 0 auto;
            margin-bottom: 70px;
            a{
               .logo{
                  width: 1050px;

                  @include animation-settings;
               }
               .logo:hover{
                  transform: scale(1.1);
               }
            }
         }
         .description-text_wrap{
            .line_wrap{
               width: auto;
               display: flex;
               justify-content: space-between;

               align-items: center;
               .line_block{
                  width: 100%;
                  .line_1{
                     width: 100%;
                     height: 10px;
                     background-color: #dee2e5;
                     border-top: 1px solid #fff;
                     border-bottom: 1px solid #fff;
                     border-radius: 2px;
                     margin-bottom: 10px;
                  }
                  .line{
                     width: 100%;
                     height: 5px;
                     background-color: #dee2e5;
                     border-top: 1px solid #fff;
                     border-bottom: 1px solid #fff;
                     border-radius: 2px;
                  }
               }
               .logo_icon{
                  width: 150px;
                  margin-left: 7px;
                  margin-right: 7px;
               }
            }
            .description-text{
               width: 100%;

               margin-top: 25px;
               margin-bottom: 25px;
               p{
                  @include description-text;
                  font-size: 27px;
                  line-height: 1.3;
                  letter-spacing: normal;
                  color: #ffffff;

                  text-indent: 1.5em;
                  text-align: justify;

                  margin-right: 25px;
                  margin-left: 25px;
               }
            }
            .post-script{
               width: 609px;
               height: 123px;
               background-image: url(../img/img-png/ps-01.png);
               background-repeat: no-repeat;
               background-size: 609px;
               background-position: center;

               margin: 0 auto;
               left: 150px;
               position: relative;
               .text-1{
                  @include postScript-text;
                  color: #fff;
                  font-size: 24px;
                  position: absolute;
                  top: 30px;
                  left: 95px;

                  font-style: italic;

                  transform: rotate(-4deg);
               }
               .text-2{
                  @include postScript-text;
                  color: #fff;
                  font-size: 30px;
                  text-transform: uppercase;
                  position: absolute;
                  top: 55px;
                  left: 135px;

                  font-style: italic;

                  transform: rotate(-4deg);

               }
            }
         }
         .comics_wrap{
            margin-top: 150px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .comics_item{
               width: 100%;

               background-image: url(../img/background/comics-item_bg.png);
               background-repeat: no-repeat;
               background-position: center;

               border-radius: 50px;

               padding: 50px;
               margin-bottom: 150px;

               @include animation-settings;
               .comics_item_title{
                  @include title-comics-text;
                  text-transform: uppercase;
                  text-shadow: 0 0 20px rgba(0, 0, 0, 0.72);
                  color: #ffffff;
                  font-size: 80px;
                  letter-spacing: 5px;
                  color: #ffffff;
                  text-align: center;

                  @include animation-settings;
               }
               .content_block{
                  display: flex;
                  justify-content: space-between;
                  width: 900px;
                  .text_block{
                     width: 100%;
                     .iron_text{
                        @include comics-text;
                        text-shadow: 0 0 15px rgba(0, 0, 0, 0.85);
                        font-size: 26px;
                        text-align: left;
                        color: #fefffe;
                        line-height: 2;

                        text-indent: 1.5em; /* Отступ первой строки */
                        text-align: left;
                     }
                     .super_text{
                        @include comics-text;
                        text-shadow: 0 0 15px rgba(0, 0, 0, 0.85);
                        font-size: 26px;
                        text-align: left;
                        color: #fefffe;
                        line-height: 2;

                        text-indent: 1.5em; /* Отступ первой строки */
                        text-align: left;

                        width: 80%;

                        margin-left: 300px;
                     }
                  }
                  .img_block{
                     position: relative;
                     .photo_item{
                        position: absolute;
                     }
                     .ironman{
                        width: 460px;
                        height: 442px;

                        top: -140px;
                        left: -60px;
                     }
                     .superman{
                        width: 720px;
                        height: 500px;

                        top: -220px;
                        left: -350px;
                     }
                     .steve{
                        width: 434px;
                        height: 434px;

                        top: -150px;
                        left: -60px;
                     }
                  }
               }
            }
            .comics_item:last-child{
               margin-bottom: 0;
            }
            .comics_item:hover{
               transform: scale(1.007);

               box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
            }
            .comics_item:hover .comics_item_title{
               color: yellow;
            }
         }
      }
   }
   @import 'footer.scss';
}
@import "media.scss";
